# Git пользователь (обязательно для Git операций)
GIT_USER_NAME="Your Name"
GIT_USER_EMAIL="your.email@example.com"

# SSH Private Key для доступа к Git репозиториям
# Вставьте сюда ваш приватный SSH ключ в многострочном формате
# Пример:
# SSH_PRIVATE_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
# MIICWwIBAAKBgQDFwR8qL3N5K+JdB...
# -----END OPENSSH PRIVATE KEY-----"

SSH_PRIVATE_KEY=""
